<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>words snake</title>
    <link rel="stylesheet" href="css/snake.css">
    <style>
    </style>
  </head>
  <body>
    <div class="" id="app">
      <h1>Word Snake</h1>
      <p v-if="mode !== 'list'"><button v-on:click="go('list')">Back to the list</button></p>
      <editor v-if="mode === 'edit'" :languages="languages" :categories="categories" :snake_id="snake_id">
      </editor>
      <div v-else-if="mode === 'view'" class="snake">
        <words-snake :snake_id="snake_id">
        </words-snake>
        <!--
        <p>
          <template v-if="share_key === null">
          <input type="button" v-on:click="share" value="Share">
          </template>
          <template v-else>
          <span class="share_key">{{share_key}}</span>
          </template>
        </p>
        -->
      </div>
      <template v-else-if = "mode === 'list'">
        <snake-list :languages="languages" :categories="categories" v-on:a_link_event="go">
        </snake-list>
        <h2>Create a snake</h2>
        <p>Create your own snake <button v-on:click="go('edit')">Create</button></p>
        <!--
        <h2>Join a shared snake</h2>
        <p>Use the invitation code you got: <input type="text" v-model="share_key" v-on:keyup.enter="join_shared"> <input type="button" value="Join" v-on:click="join_shared"></p>
        -->
      </template>
    </div>
    <!--
    <script src="https://js.pusher.com/5.1/pusher.min.js"></script>
    -->
    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/Sortable.min.js"></script>
    <script src="js/vuedraggable.umd.min.js"></script>
    <script src="js/wordsnake.js"></script>
    <script src="js/components.js"></script>
    <script src="js/app.js"></script>
    <script>
    </script>
  </body>
</html>
